<!DOCTYPE html>
<html ng-app="Store">

<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="index.css"/>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
    <link rel="stylesheet" href="./node_modules/sweetalert2/dist/sweetalert2.min.css">
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="valider.js"></script>
    <script src="./node_modules/sweetalert2/dist/sweetalert2.min.js"></script>
    <script src="./node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>
    <!-- Include a polyfill for ES6 Promises (optional) for IE11 and Android browser -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
    crossorigin="anonymous"></script>
</head>

<body class="list-group" ng-controller="StoreController as store">
    <header>
        <title>Rainbow Six</title>
        <a href="index.html" id="titre" ><h1 class="text-center"><font size="8"><img class="logosite" src="images/logo site.png"/>      Game's Next      <img class="logosite" src="images/logo site.png"/></font></h1></a>
        <h2 class="text-center"><font size="4">– Les derniers jeux vidéos à portée de clics ! –</font></h2>
        <ul class="nav nav-pills">
            
        </ul>
        <div id="Menu">
            <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" id="signout" href="index.html">Acceuil       </a>
    </div>
    <ul class="nav navbar-nav">
        <li class="active"><a href="battlefield.html">Battlefield 1 <span class="sr-only">(current)</span></a></li>
        <li><a href="CallOfDuty.html">Call Of Duty</a></li>
        <li class="active"><a href="Rainbowsix.html">Rainbow Six Siege <span class="sr-only">(current)</span></a></li>
        <li><a href="maps.html">Magasins</a></li>
        <li class="active"><a href="contact.html">Contact <span class="sr-only">(current)</span></a></li>
      </ul>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <div class="nav navbar-right navbar-header">
      <a class="navbar-brand" id="signout" onclick="signout();">Deconnexion</a>
    </div><!--.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
        </div>
    </header>
    <div class="list-group-item">
        <h3>
            Rainbow Six Siege
        </h3>
        <section class="tab" ng-controller="TabController as tab">
            <ul class="nav nav-pills">
                <li ng-class="{ active: tab.isSet(1) }">
                    <a href ng-click="tab.setTab(1)">Description</a></li>
                <li ng-class="{ active: tab.isSet(2) }">
                    <a href ng-click="tab.setTab(2)">Notes</a></li>
                <li ng-class="{ active: tab.isSet(3) }">
                    <a href ng-click="tab.setTab(3)">Achat</a></li>
            </ul>
            <div ng-show="tab.isSet(1)">
                <h4>Description</h4>
                                    <!-- Image gallerie -->
    <div class="gallery">
        <img ng-src="images/rss.jpg" />
    </div>
                <blockquote><i><font size="4" face="Times Roman">"Tom Clancy's Rainbow Six Siege invite les joueurs à maîtriser l'art du siège. Affrontements en combat rapproché, aspect tactique, jeu en équipe et actions explosives sont au cœur de l'expérience. Le gameplay impose un nouveau standard dans la franchise en ce qui concerne les confrontations armées empreintes de stratégie, en respectant l'héritage laissé par les anciens jeux Tom Clancy's Rainbow Six."</font></i></blockquote>
            </div>
            <div ng-show="tab.isSet(2)">
                <h4>Les notes de la rédaction</h4>
                <blockquote>Site: <img id="site" src="images/gamekult.gif"/></br>
                            Avis: <blockquote><font face="Times New Roman"><i><b><u>"Avec Rainbow Six Siege, Ubisoft tenait une occasion de pondre un bon petit FPS tactique sans avoir à l’engluer dans l’une de ses licences mastodontes."</u></b></i></font></blockquote></br>
                            Note: <img id="note" src="images/5.png"/></br><br/>
                            Lien: <a href="https://www.gamekult.com/jeux/tom-clancy-s-rainbow-six-siege-3010010109/test.html" target="_blank"><font size="3">Cliquez ici pour lire l'avis complet de la rédac!</font></a></blockquote><br/>
                <blockquote>Site: <img id="site" src="images/logojvc.jpg"/></br></br>
                            Avis: <blockquote><font face="Times New Roman"><i><b><u>"Rainbow Six Siege offre une expérience de jeu convaincante, en mettant en place des idées assez intéressantes pour le genre."</u></b></i></font></blockquote></br>
                            Note: <img id="note" src="images/7,5.png"/></br><br/>
                            Lien: <a href="http://www.jeuxvideo.com/test/451417/rainbow-six-siege-un-fps-entre-tactique-et-arcade.htm" target="_blank"><font size="3">Cliquez ici pour lire l'avis complet de la rédac!</font></a></blockquote>
            </div>
            <div class ="panel" ng-show="tab.isSet(3)">
                <h4>Acheter le jeu sur PS4/XBOX ONE/PC :</h4>
                <blockquote>PC:</br>
                                <a class="btn btn-success" href="https://jeux-video.fnac.com/a8235024/Rainbow-Six-Siege-PC-Jeu-PC?ectrans=1&oref=00000000-0000-0000-0000-000000000000" target="_blank">PC</a>
                                <em class="pull-right">29.99€</em><br/>
                            PS4:</br>
                                <a class="btn btn-success" href="https://jeux-video.fnac.com/a8235022/Rainbow-Six-Siege-PS4-Jeu-PlayStation-4?ectrans=1&oref=465ef1c2-af12-2632-6330-2fe831b23d91" target="_blank">PS4</a>
                                <em class="pull-right">24.85€</em><br/>
                            XBOX ONE:</br>
                                <a class="btn btn-success" href="https://jeux-video.fnac.com/a8235023/Rainbow-Six-Siege-Xbox-One-Jeu-Xbox-One?ectrans=1&oref=98f827dc-2861-51a8-0b82-b1eee4f233b9" target="_blank">XBOX ONE</a>
                                <em class="pull-right">21.50€</em>
                </blockquote>
            </div>
        </section>
    </div>
</body>

</html>